@{
    ViewData["Title"] = "About";
}

<div class="about-container">
    <div class="about-text">
        <h1>Gabriel Leon & Kevin Tejeda</h1>
        <p>
            Bienvenidos a nuestra presentación de la colección de películas del Studio Ghibli. Este proyecto tiene como objetivo mostrar una selección de las películas más icónicas de este famoso estudio de animación japonés, conocido por sus historias conmovedoras, personajes memorables y su impresionante calidad artística.
        </p>
        <p>
            Studio Ghibli ha producido numerosas películas aclamadas por la crítica, tales como "Mi vecino Totoro", "El viaje de Chihiro", "La princesa Mononoke" y muchas más. En este sitio web, podrás explorar información detallada sobre cada película, incluyendo su título, director, fecha de lanzamiento y una breve descripción. Además, también podrás conocer más sobre los personajes que hacen de estas películas una experiencia inolvidable.
        </p>
        <p>
            Esperamos que disfrutes de esta colección tanto como nosotros disfrutamos al crear este proyecto. ¡Sumérgete en el maravilloso mundo del Studio Ghibli!
        </p>
    </div>
    <div class="about-image">
        <img src="~/images/studiologo.png" alt="logo" style="height: 700px;">
    </div>
</div>
<br>
<br>
<br>
<br>
<br>


<style>
    .about-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    .about-text {
        flex: 1;
        padding-right: 20px;
    }
    .about-image {
        flex-shrink: 0;
    }
    .about-image img {
        max-width: 100%;
        height: auto;
    }
</style>
